- ### tuple
 - python default sequential data structure
 - indexed,ordered,heterogeneous
 - 'immutable'
 - represented by ()
 - faster than list
 - tuple() converts any function to tuple

- ### set
 - unordered,unindexed,mutable
 - unique elements only
 - can store only immutable elements
 - represented by {}
 - set() convert any sequence to set

In [1]:
x=(1,2,3) #tuple
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [2]:
a=10,20,30 #without using brackets we can create tuple
print(a)
print(type(x))

(10, 20, 30)
<class 'tuple'>

In [3]:
#single element tuple
b=(13,)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [4]:
# tuple unpacking
x1,x2,x3=a # a has 3 elements
print(x1,x2,x3)

10 20 30

In [5]:
# tuple unpacking
a=(1,2,3,4,5,6,7,8,9)
a1, a2, *a3=a #a3 will get remaining elements as a list
print(a1,a2,a3)

1 2 [3, 4, 5, 6, 7, 8, 9]

In [6]:
a[:4] #slicing

(1, 2, 3, 4)

In [7]:
a[-5:]

(5, 6, 7, 8, 9)

In [8]:
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9

In [14]:
x=(1,2,3,1,2,3,1,2,3)
print(x.count(1))
print(x.count(2)) 
print(x.count(5))
print(x.index(3)) # 3 is the value to search
print(x.index(3,5)) # 3 is the value to search starting is 5

3
3
0
2
5

In [15]:
a=[1,2,3]
at=tuple(a)
a1=list(at)
print(at)
print(a1)

(1, 2, 3)
[1, 2, 3]

- ### set

In [16]:
s={1,2,3,1,2,3,1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [18]:
s.add(3)
s.add(4)
s.add('hello')
s.add('all')
s.add(3)
print(s)

{1, 2, 3, 4, 'hello', 'all'}

In [19]:
s.discard('all')
print(s)

{1, 2, 3, 4, 'hello'}

In [20]:
for i in s:
    print(i)

1
2
3
4
hello

In [21]:
name=set('Chandresh Mishra')
print(name)

{'n', ' ', 'r', 'e', 'i', 'C', 's', 'a', 'd', 'M', 'h'}

- ### set operations

In [22]:
g1={'apple','banana','orange','grapes','mango','pineappple','watermelon'}
g2={'apple','grapes','mango','pineapple','watermelon','papaya','kiwi'}
print(g1|g2)

{'apple', 'watermelon', 'pineapple', 'grapes', 'pineappple', 'banana', 'papaya', 'mango', 'kiwi', 'orange'}

In [23]:
# intersection 
print(g1 & g2)

{'apple', 'mango', 'grapes', 'watermelon'}

In [26]:
# difference
print(g1-g2)
print(g2-g1)
print(g2.difference(g1))

{'banana', 'orange', 'pineappple'}
{'kiwi', 'papaya', 'pineapple'}
{'kiwi', 'papaya', 'pineapple'}

In [28]:
# symmetric difference
print(g1^g2) # elements in g1 or g2 but not in both
print(g1.symmetric_difference(g2))

{'pineapple', 'pineappple', 'banana', 'papaya', 'kiwi', 'orange'}
{'pineapple', 'pineappple', 'banana', 'papaya', 'kiwi', 'orange'}

In [44]:
report=[
  ['Rohan',[
      ['Maths',90],
      ['Science',85],
      ['Hindi',88],
  ]],
  ['Mohan',[
      ['Maths',92],
      ['Science',80],
      ['Hindi',72]
  ]]

]
for students in report:
    for detail in students:
        if isinstance(detail,str):
            print(detail)
        if isinstance(detail,list):
            for subject in detail:
                print(subject[0],subject[1])

Rohan
Maths 90
Science 85
Hindi 88
Mohan
Maths 92
Science 80
Hindi 72